
@model PagedListViewModel<Djm.OGame.Web.Api.ViewModels.Articles.ArticleViewModel>


@{
    ViewBag.Title = "title";
}


<br /><br />
<div class="row">
    @foreach (var item in Model.Items)
    {

        <div class="col-md-9  col-sm-10 offset-sm-1">

            <div class="row">
                <div class="col-md-4 col-12">
                    <a href="http://localhost:53388/articles/@item.Id">
                        <img class="img-fluid rounded" src="@item.Image" alt="Generic placeholder image" onerror="this.src='http://droidlessons.com/wp-content/themes/TechNews/images/img_not_available.png'">
                    </a>

                </div>
                <div class="col-md-8 col-12">
                    <a class="h5" href="http://localhost:53388/articles/@item.Id">@Html.DisplayFor(modelItem => item.Title) </a><br />

                    <p style="margin-top: 10px;">@Html.DisplayFor(modelItem => item.Preview)</p>

                    <p style="margin-top: 25px;" class="text-muted">
                        Publié par <a href="#">@item.AuthorName</a> le @item.FormatedPublishDate
                    </p>

                </div>
            </div>
            <hr>
        </div>
    }
</div>

<div class="row">
    <div class="col-1"></div>


    <ul class="pagination">

        @{
            Model.Paginate();

            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";

            var endVisible = Model.End == Model.TotalPages ? "d-none" : "";

            string Active(int i)
            {
                return Model.CurrentPage == i ? "active" : "";
            }

        }

        <li class="page-item @prevDisabled"><a class="page-link" href="http://localhost:53388/articles?page=@Model.Previous">Précédent</a></li>

        <li class="page-item @Active(1)"><a class="page-link" href="http://localhost:53388/articles?page=1">1</a></li>



        @for (var i = @Model.Start + 1; i < @Model.End + 1; i++)
        {
            <li class="page-item @Active(i)"><a class="page-link" href="http://localhost:53388/articles?page=@i">@i</a></li>
        }

        <li class="page-item @Active(@Model.TotalPages) @endVisible"><a class="page-link" href="http://localhost:53388/articles?page=@Model.TotalPages">@Model.TotalPages</a></li>

        <li class="page-item @nextDisabled"><a class="page-link" href="http://localhost:53388/articles?page=@Model.Next">Suivant</a></li>

    </ul>

</div>
